name: Build Action
on:
  push:
    paths-ignore:
      - '**.md'
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - name: Build
        run: cd ${{ github.workspace }}/bin
      - run: ./build.sh

